
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <title>My Capstone</title>
    <link th:href="@{/style.css}"  rel="stylesheet">
    <style>
        .input{
            text-align: center  ;
        }
        /* Hide the default checkbox */
        .hidden-checkbox {
            display: none;
        }

        .checkbox-label {
            display: inline-block;
            cursor: pointer;
            margin-right: 10px; /* Adjust spacing as needed */
        }

    </style>
</head>
<body>
<!-- headers-->
<div class="header">
    <nav class="navbar navbar-expand-lg navbar-dark text-bg-secondary" aria-label="Offcanvas navbar large">
        <img th:src="@{/sun.png}" alt="Bee Icon" >
        <div class="container-fluid">
            <a href="/">
                <img th:src="@{/cloud.png}"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar2" aria-controls="offcanvasNavbar2" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="offcanvas offcanvas-end text-bg-secondary" tabindex="-1" id="offcanvasNavbar2" aria-labelledby="offcanvasNavbar2Label">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasNavbar2Label">Offcanvas</h5>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/mission">Mission Statement</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                High-level Data
                            </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/subtaskA/global">SubtaskA-Global</a></li>
                            <li><a class="dropdown-item" href="/subtaskA/countries">SubtaskB-Country</a></li>
                        </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Deep Data
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="/level3SubtaskA">SubtaskA</a></li>
                                <li><a class="dropdown-item" href="/level3SubtaskB?region=Country"> SubtaskB</a></li>
                            </ul>
                        </li>
                    </ul>

                </div>
            </div>
        </div>
    </nav>
</div>
<!--middle cotain-->

<div class="mid-container">
    <div class="title">
        <h3><span>Deep-level Data</span> > Subtask B </h3>
    </div>
    <div class="filter">
        <div class="one">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5"/>
            </svg>
            <p>Filter</p>
            <div class="input">
                <div class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Region
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/level3SubtaskB?region=Country">Country</a></li>
                        <li><a class="dropdown-item" href="/level3SubtaskB?region=City">City</a></li>
                        <li><a class="dropdown-item" href="/level3SubtaskB?region=State">State</a></li>
                    </ul>
                </div>

            </div>
            <div class="three">
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    Features List
                </button>

                <!-- Modal -->

                <div class="feature-list modal fade list-items" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg"> <!-- Increased modal size for better interaction -->
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Features List</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <form th:action="@{/level3SubtaskB}" th:method="get">
                                <div class="modal-body">
                                    <div class="box-scroll">
                                        <h3 th:text="${selectedRegion}"></h3>
                                        <ul class="options">
                                            <li>
                                                <div class="input">
                                                    <label for="region">Selected Region</label>
                                                    <select id="region" name="region">
                                                        <option hidden="hidden" th:each="region : ${modelView.regions}" th:value="${region.name}" th:if="${!region.name.equals('Global')}" th:text="${region.name}" th:selected="${region.selected}" th:href="@{/level3SubtaskB(region=${selectedRegion})}"></option>
                                                    </select>
                                                </div>
                                            </li>


                                            <li >
                                                <div class="input">
                                                <label for="selectedString">Select a <span th:text="${selectedRegion.toLowerCase()}"></span></label>
                                                <select name="selectedString" id ="selectedString" >
                                                    <option th:if="${selectedRegion.equals('Country')}" th:each="country:${countries}"  th:text="${country.name}" th:value="${country.name}" ></option>
                                                    <option th:if="${selectedRegion.equals('City')}" th:each="city:${cities}"  th:text="${city.name}" th:value="${city.name}" ></option>
                                                    <option th:if="${selectedRegion.equals('State')}" th:each="state:${states}"  th:text="${state.name}" th:value="${state.name}" ></option>

                                                </select>
                                                </div>
                                            </li>
                                            <li></li>
                                            <li>
                                                <div class="input">
                                                    <label for="">Periods Time</label>
                                                    <input type="number" name="yearPeriod" id="yearPeriod" th:value="${modelView.yearPeriod}">
                                                </div>
                                            </li>
                                            <li>
                                                <div class="input">
                                                    <label for="">Startting Year</label>
                                                    <input  name="startingYears" id="startingYears" th:value="${modelView.startingYears}">
                                                </div>
                                            </li>
                                            <li>
                                                <div class="input">
                                                    <label for="">First AVG</label>
                                                    <input type="number" name="minAverageChange" id="minAverageChange" th:value="${modelView.minAverageChange}">
                                                </div>
                                            </li>
                                            <li>
                                                <div class="input">
                                                    <label for="">Last AVG</label>
                                                    <input type="number" name="maxAverageChange" id="maxAverageChange" th:value="${modelView.maxAverageChange}">
                                                </div>
                                            </li>
                                            <li>
                                                <div class="input">
                                                    <label for="">First Population</label>
                                                    <input type="number" name="minPopulation" id="minPopulation" th:value="${modelView.minPopulation}">
                                                </div>
                                            </li>
                                            <li>
                                                <div class="input">
                                                    <label for="">Last Population</label>
                                                    <input type="number" name="maxPopulation" id="maxPopulation" th:value="${modelView.maxPopulation}">
                                                </div>
                                            </li>
                                            <li>
                                                <div class="input">
                                                    <label for="">Numbers of similar result</label>
                                                    <input type="number" name="number" id="number" th:value="${selectedNumber}">
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="submit" class="btn btn-primary">Save changes</button>
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>


        </div>


        <div class="button-container">


            <form action="/level3SubtaskB" method="get" class="button-form">
                <input type="hidden" name="region" th:value="${selectedRegion}">
                <input type="hidden" name="selectedString" th:value="${selectedString}">
                <input type="hidden" name="yearPeriod" th:value="${modelView.yearPeriod}">
                <input type="hidden" name="startingYears" th:value="${modelView.startingYears}">
                <input type="hidden" name="minAverageChange" th:value="${modelView.minAverageChange}">
                <input type="hidden" name="maxAverageChange" th:value="${modelView.maxAverageChange}">
                <input type="hidden" name="minPopulation" th:value="${modelView.minPopulation}">
                <input type="hidden" name="maxPopulation" th:value="${modelView.maxPopulation}">
                <input type="hidden" name="number" th:value="${selectedNumber}">
                <input type="hidden" name="viewBy" value="Temp">
                <label class="checkbox-label">

                    <input type="checkbox" id="tempCheckbox" class="checkbox" th:checked="${isViewByTemp}">
                    View By Temperature
                </label>
            </form>

            <form action="/level3SubtaskB" method="get" class="button-form">
                <input type="hidden" name="region" th:value="${selectedRegion}">
                <input type="hidden" name="selectedString" th:value="${selectedString}">
                <input type="hidden" name="yearPeriod" th:value="${modelView.yearPeriod}">
                <input type="hidden" name="startingYears" th:value="${modelView.startingYears}">
                <input type="hidden" name="minAverageChange" th:value="${modelView.minAverageChange}">
                <input type="hidden" name="maxAverageChange" th:value="${modelView.maxAverageChange}">
                <input type="hidden" name="minPopulation" th:value="${modelView.minPopulation}">
                <input type="hidden" name="maxPopulation" th:value="${modelView.maxPopulation}">
                <input type="hidden" name="number" th:value="${selectedNumber}">
                <input type="hidden" name="viewBy" value="Pop">
                <label class="checkbox-label">

                    <input type="checkbox" id="tempCheckbox1" class="checkbox" th:checked="${isViewByPop}">
                    View By Population
                </label>
            </form>

        </div>

        <form action="/level3SubtaskB" method="get">
            <input type="hidden" name="region" value="Country">
            <button type="submit" class="btn btn-primary">Reset</button>
        </form>







    </div>









</div>
<!-- table-->
<main style=" height:500px " class="table" id="customers_table" th:each="table,tableIndex:${modelView.table}">

    <section class="table__header" >
        <h1 th:if="${tableIndex.index==0}">Average Temperature Data Table</h1>
        <h1 th:if="${tableIndex.index==1}">Similar Rank Data Table</h1>

        <div>
            <h2  th:text="${selectedRegion}"> <span  th:text="${selectedString}"></span></h2>
            <span  th:text="${selectedString}"></span>

        </div>


    </section>
    <section class="table__body"  >
        <table >

            <div class="applyData" th:if = "${table.data.length == 0} "  >
                <h2 style="font-size: 18px; font-weight: 700;float: left;  ">Apply Features To Display Data Or No Data </h2>
                <img src="/apply-data.png" style="height: 50%; width: 50%; justify-content: center;align-items: center">

            </div>

            <div class="" th:if = "${lengthData >0 and table.data.length != 0 } ">
                <thead>
                <tr >
                    <th  th:each="header, headerIndex : ${table.header}"  >
                        <p th:text="${header}"></p>



                    </th>
                </tr>
                </thead>
                <tbody>
                <tr  th:each=" row, rowIndex: ${table.data }" >
                    <td th:each=" cell,cellIndex: ${row }" >
                        <span th:text="${cell}" >

                        </span>
                    </td>




                </tr>


                </tbody>
            </div>
        </table>
    </section>


</main>







<!--footer-->
<footer class="footer">
    <div class="container text-center">
        <p>&copy; 2024 Climate Analysis Platform. All rights reserved.</p>
    </div>
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
<script th:src="@{/script.js}">

</script>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        const tempCheckbox = document.getElementById("tempCheckbox");
        const tempCheckbox1 = document.getElementById("tempCheckbox1");

        function updateViewBy() {
            const viewByTempChecked = tempCheckbox.checked;
            const viewByPopChecked = tempCheckbox1.checked;

            const viewByParam = viewByTempChecked && viewByPopChecked ? "True" :
                viewByTempChecked ? "Temp" :
                    viewByPopChecked ? "Pop" : "False";

            document.querySelectorAll('.button-form').forEach(form => {
                form.querySelector('[name="viewBy"]').value = viewByParam;
            });

            // Submit the form after updating viewByParam
            this.closest("form").submit();
        }

        tempCheckbox.addEventListener("click", updateViewBy);
        tempCheckbox1.addEventListener("click", updateViewBy);
    });

</script>

</body>

</html>